@import "../variables.module";

.cart {
  &__empty {
    margin: 80px auto;
    width: 620px;
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button {
        display: inline-block;
       
        border-radius: 30px;
        padding: 10px 20px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        transition: background-color $duration ease-in-out,
          border-color $duration ease-in-out;
        border: 1px solid transparent;
        border-color: darken($color: $gray-line, $amount: 10);
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
        //   border-color: darken($color: $gray-line, $amount: 80);
        //   background-color: darken($color: $gray-line, $amount: 80);
        }

      }

    .button_black {
        color: #fff;
       
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
